%div#welcome
  Welcome to lobby #{@lobby.key}!

%br

%div#players
  Current players:
  %ul
    - @lobby.players.each do |player|
      %li
        #{player.name}

%br

%div#join
  %a{:href => "#"}
    join the lobby!
